@import "styles/global";

.wrapper {
  @include button-default();

  position: relative;

  width: 48px;
  height: 48px;

  transition: all 0.4s cubic-bezier(0, 0, 0, 1);

  .line {
    position: absolute;

    width: 16px;
    height: 3px;

    background-color: $color-text;

    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;

    &:nth-child(1) {
      top: 13px;
      left: 8px;
    }

    &:nth-child(2) {
      top: 13px;
      left: 50%;
    }

    &:nth-child(3) {
      top: 23px;
      left: 8px;
      opacity: 1;
    }

    &:nth-child(4) {
      top: 23px;
      left: 50%;
      opacity: 1;
    }

    &:nth-child(5) {
      top: 33px;
      left: 8px;
    }

    &:nth-child(6) {
      top: 33px;
      left: 50%;
    }
  }

  &[aria-expanded="true"] {
    .line {
      &:nth-child(1) {
        transform: translate(3.3936px, 5.1611px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-3.3936px, 5.1611px) rotate(-45deg);
      }

      &:nth-child(3) {
        transform: translate(-8.8375px, 0);
        opacity: 0;
      }

      &:nth-child(4) {
        transform: translate(8.8375px, 0);
        opacity: 0;
      }

      &:nth-child(5) {
        transform: translate(3.3936px, -5.1611px) rotate(-45deg);
      }

      &:nth-child(6) {
        transform: translate(-3.3936px, -5.1611px) rotate(45deg);
      }
    }
  }
}
