$color-white: #fff;
$color-black: #000;
$color-text: #333;
$color-subtext: #bdbdbd;
$color-placeholder: #8d8d8d;
$color-text-danger: #c30000;
$color-signature: #c8c8c880;
$color-border: #f2f2f2;
$color-dash: #e0e0e0;
$color-background-second: #fbfbfb;
$color-background-button: #f9f9f9;
$color-background-form: #f3f3f3;
$color-background-dark: #2c2c2c;
