@import 'styles/colors';
@import 'styles/mixins';

// Sizes
$width-desk-wide: 1281px;
$width-desk-narrow: 1025px;
$width-tablet-wide: 861px;
$width-tablet-narrow: 769px;
$width-mobile-wide: 451px;
$width-mobile-narrow: 331px;
