@import 'styles/global';

.wrapper {
  position: relative;

  .item {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
    visibility: hidden;
    opacity: 0;

    transition: visibility 0.6s ease, opacity 0.6s ease;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &:nth-child(1) {
      position: static !important;
    }
  }
}
